* {
    font-family: "oakes light";
    padding: 0px;
    margin: 0px;
}

* h1 {
    font-family: "Recoleta bold";
}

/* Index */
.header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.header nav {
    background-color: #B1A5F1 !important;
    height: 130px;
    max-width: 100%;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.navbar-nav li a {
    font-family: "oakes light";
    color: #FBF6F0 !important;
    margin: 10px;
    background-color: #B1A5F1;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end; */
}

.navbar-collapse ul {
    background-color: #B1A5F1;
    /* border-radius: 50px; */
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navbar-collapse {
    justify-content: center;
}

/* .header figure {
    display: flex;
    justify-content: center;
} */
.navbar-brand {
    margin-right: 0px !important;

}

.header img {
    height: 110px;
    /* margin: 5px; */
}

.logo-mobile img {
    display: none;
    height: 70px;
}

.navbar-nav li :hover {
    color: #fde7f6 !important;
    font-family: "oakes bold";
}

/* .header .barra {
    margin-bottom: 45px;

}

.header nav {
    background-color: #B1A5F1;
    height: 100px;
    width: 100%;
    box-shadow: 2px 2px 3px rgba(90, 85, 85, 0.5)
}

.header figure {
    display: flex;
    justify-content: center;
}

.header img {
    position: relative;
    height: 110px;
    margin: 5px;
}

.header ul {
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header li {
    display: inline;
    margin: 10px;
}

.header a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "oakes light";
    padding: 5px;
    display: flex;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #B1A5F1;
    height: 100px;
    z-index: 9999
} */

.main {
    background-color: #F4FAD3;
    width: 100%;
    flex-wrap: wrap;
}

.main .main__imghero {
    /* height: 622px; */
    /* margin-top: 100px; */
    width: 100%;
}

.main .main__retrato {
    margin: 7%;
    height: 550px;
    margin-left: 20px;
    /* max-width: 100% */
}

.main p {
    width: 400px;
    font-family: "oakes light";
    font-size: 1.2rem;
    text-align: center;
}

.main__presentacion0 {
    font-family: "Recoleta bold";
    color: #FF80BE;
    font-size: 4rem;
}

.main__presentacion1 {
    font-family: "Recoleta bold";
    color: #231F3A;
    font-size: 4rem;
}

.main__hola {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main__hola2 {
    display: flex;
    align-items: center;
    margin-left: 144px;
    flex-wrap: nowrap;
    flex-direction: column;
}

.main .main__imagenes3 {
    background-color: #BCFFBB;
    padding: 40px;
}

@font-face {
    font-family: "oakes light";
    src: url(../recursos/tipografia/Oakes\ Grotesk\ Light.ttf);
}

@font-face {
    font-family: "oakes bold";
    src: url(../recursos/tipografia/Oakes\ Grotesk\ Bold.ttf);
}

@font-face {
    font-family: "oakes semibold";
    src: url(../recursos/tipografia/Oakes\ Grotesk\ SemiBold.ttf);
}

@font-face {
    font-family: "Recoleta bold";
    src: url(../recursos/tipografia/Recoleta-Bold.ttf);
}

.main__sectioncolor {
    position: relative;
    display: inline-block;
}

.main__textocolor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    font-size: 5rem;
    font-family: "Recoleta bold";
}

.main_sectiondiseño {
    position: relative;
    display: inline-block;
}

.main__textodiseño {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    font-size: 5rem;
    font-family: "Recoleta bold";
}

.main__sectioncreatividad {
    position: relative;
    display: inline-block;
}

.main__textocreatividad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    font-size: 4rem;
    font-family: "Recoleta bold";
}

.main__imagenes3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    background-color: #B1A5F1;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    grid-template-areas:
        "footer__logo2 footer__footer footer__footer footer__mapa"
        ". . . ."
        ". . . .";
    justify-items: center;
    /* justify-content: start; */
    align-items: center;
    flex-wrap: wrap;
}

.footer__logo2 {
    grid-area: footer__logo2;
}

.footer__footer {
    grid-area: footer__footer;
}

.footer__mapa {
    grid-area: footer__mapa;
}

.footer__footer {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.footer_logo a {
    height: 135px;
}

.footer .footer__logo2 {
    flex-wrap: nowrap;
    height: 142px;
    margin: 10px;
}

.footer__siguenos {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* align-items: center; */
    flex-wrap: wrap;
}

.footer__rrss {
    display: flex;
    margin-left: 0px;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer__rrss li {
    margin: 0%;
}

.footer__rrss img {
    margin: 0px;
    height: 20px;
}

.footer h5 {
    font-family: "oakes light";
    /* margin: 20px; */
    /* margin-left: 40px; */
}

.footer ul {
    list-style: none;
    margin: 20px;
}

.footer__nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.footer .footer__nav a {
    text-decoration: none;
    color: white;
    font-family: "oakes light";
    margin: 20px;
}

.footer__mapa {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
}

.footer__final {
    color: white;
    background-color: #B1A5F1;
    /* display: flex;
    align-items: baseline;
    flex-direction: row; */
}

.footer__final .footer__finalmediosdepago {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer__final .footer__derechos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.footer__nav li :hover {
    color: #fde7f6;
    font-family: "oakes bold";
}

/* Servicios */

.main__servicios {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */
    background-color: #F4FAD3;
    color: #FF80BE;
    display: flex;
    align-items: center;
}

.main__servicios h1 {
    margin-top: 5px;
}

.main__servicios .titulo {
    display: flex;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
    margin-right: 17px;
    width: 500px;
    justify-content: center;
    background-color: #231F3A;
    border-radius: 100px;
}

.main__serviciosvalores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main__servicios .main__serviciosvalores img {
    width: 600px;
    ;
}

.main__serviciosBanner {
    width: 100%;
}

/* reseñas */

.main__reseñas {
    /* margin-top: 100px; */
    background-color: #F4FAD3;
}

.main__reseñas-titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */
    background-color: #F4FAD3;
    color: #FF80BE;
    display: flex;
    align-items: center;
}

.main__reseñas .main__reseñas-titulo h1 {
    font-size: 40px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 17px;
    text-align: center;
    width: 500px;
    height: 60px;
    justify-content: center;
    background-color: #231F3A;
    border-radius: 100px;
    align-items: center;
}

.main__reseñas-formas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}

.main__reseñas-formas span {
    margin-top: 10px;
}

.main__reseñas-formas img {
    margin: 10px;
    align-items: center;
}


.main__reseñas-formas .reseña {
    font-family: "Recoleta bold";
    font-size: xx-large;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(90, 85, 85, 0.5);
}

.main__forma-catalina {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.main__forma-catalina img {
    width: 100%;
}

.main__reseñacatalina {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #231F3A;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: "oakes light";
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.main__forma-ali {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.main__forma-ali img {
    width: 100%;
}

.main__reseñaali {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #231F3A;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: "oakes light";
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.main__forma-emily {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.main__forma-emily img {
    width: 100%;
}

.main__reseñaemily {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #231F3A;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: "oakes light";
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.formulario2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario2 input {
    font-family: "Oakes light";
    border: none;
    border-radius: 3px;
    background-color: #FF81BF;
    color: #231F3A;
    text-transform: none;
    font-size: 16px;
    margin: 10px;
    text-align: left;
    width: 60%;
    display: flex;
    flex-direction: column;
}

input::placeholder {
    color: white;
}

input,
textarea {
    margin: 10px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #FF80BE;
    padding: 15px 14px;
    width: 40%;
    border: none;
}

textarea::placeholder {
    color: white;
}

.formulario2 .enviar {
    color: white;
    background-color: #B1A5F1;
    width: auto;
    text-align: center;
}

/* Nosotros */

/* Contacto */
.formulario {
    background-color: #FBF6F0;
}

.formulario input {
    font-family: 'Oakes light';
    border-color: #FF80BE;
    background-color: transparent;
    text-transform: none;
    font-size: 13px;
    text-align: justify;
}

@media (max-width: 991px) {

    /* index */

    .main .main__retrato {
        margin: 3%;
        height: 300px;
        /* margin-left: 20px; */
    }

    .main__hola {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .main__hola2 {
        display: flex;
        align-items: center;
        margin-left: 0%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main__hola2 .main__presentacion0 {
        font-size: 2rem;
    }

    .main__presentacion1 {
        font-family: "Recoleta bold";
        color: #231F3A;
        font-size: 2rem;
    }

    .main p {
        width: 300px;
        font-family: "oakes light";
        font-size: 15px;
        text-align: center;
    }

    .main__presentacion0 {
        font-family: "Recoleta bold";
        color: #FF80BE;
        font-size: 1.2rem;
    }

    .main .main__imagenes3 {
        background-color: #BCFFBB;
        padding: 0px;
        width: 100%;
    }

    .main__imagenes3 img {
        width: 200px;
        margin: 10px;
    }

    .main__sectioncolor {
        position: relative;
        display: inline-block;
    }

    .main__textocolor {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        /* Color del texto */
        padding: 10px 20px;
        /* Espaciado interno del texto */
        font-size: 2rem;
        font-family: "Recoleta bold";
    }

    .main_sectiondiseño {
        position: relative;
        display: inline-block;
    }

    .main__textodiseño {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        /* Color del texto */
        padding: 10px 20px;
        /* Espaciado interno del texto */
        font-size: 2rem;
        font-family: "Recoleta bold";
    }

    .main__sectioncreatividad {
        position: relative;
        display: inline-block;
    }

    .main__textocreatividad {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: white;
        /* Color del texto */
        padding: 10px 20px;
        /* Espaciado interno del texto */
        font-size: 2rem;
        font-family: "Recoleta bold";
    }

    .main__imagenes3 {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* header y footer */
    .header nav {
        background-color: #B1A5F1 !important;
        height: 58px;
        max-width: 100%;
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    }

    .logo-mobile img {
        margin-top: -4px;
        display: block;
        height: 50px;
    }

    .footer {
        background-color: #B1A5F1;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer .footer__logo2 {
        height: 90px;
    }

    .footer__logo {
        margin: 0.5%;
    }

    .footer.footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .footer ul {
        list-style: none;
        margin: 0px;
    }

    .footer__footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    ol,
    ul {
        padding-left: 0px !important;
    }

    .footer__final .footer__finalmediosdepago {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer__mediosdepago1 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .footer__footer .footer__siguenos h5 {
        font-size: 1rem;
    }

    .footer__finalmediosdepago p {
        font-size: 0.7rem;
    }

    .footer__derechos small {
        font-size: 0.7rem;
    }

    /* Servicios */

    .main__servicios .titulo {
        display: flex;
        margin-top: 20px;
        margin-bottom: 0;
        text-align: center;
        margin-right: 0px;
        width: 250px;
        justify-content: center;
        background-color: #231F3A;
        border-radius: 100px;
    }

    .main__servicios h1 {
        font-size: 2rem;
    }

    .main__serviciosvalores {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .main__servicios .main__serviciosvalores img {
        width: 360px;
        ;
    }

    /* reseñas */
    .main__reseñas .main__reseñas-titulo h1 {
        font-size: 2rem;
        display: flex;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-right: 0px;
        text-align: center;
        width: 250px;
        justify-content: center;
        background-color: #231F3A;
        border-radius: 100px;
        align-items: center;
    }

    /* .main__reseñas-titulo h1 {
        display: flex;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-right: 0px;
        text-align: center;
        width: 250px;
        justify-content: center;
        background-color: #231F3A;
        border-radius: 100px;
    } */
    .main__reseñas h1 {
        font-size: 2rem;
    }

    .main__reseñas-formas .main__forma-catalina {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        width: 300px;
    }

    .main__reseñacatalina {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #231F3A;
        padding: 10px 20px;
        font-size: 1rem;
        font-family: "oakes light";
        text-align: center;
        display: flex;
        flex-direction: column;
        z-index: 2;
    }

    .main__reseñas-formas .main__forma-ali {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        width: 300px;
    }

    .main__reseñaali {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #231F3A;
        padding: 10px 20px;
        font-size: 1rem;
        font-family: "oakes light";
        text-align: center;
        display: flex;
        flex-direction: column;
        z-index: 2;
    }

    .main__reseñas-formas .main__forma-emily {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        width: 300px;
    }

    .main__reseñaemily {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #231F3A;
        padding: 10px 20px;
        font-size: 1rem;
        font-family: "oakes light";
        text-align: center;
        display: flex;
        flex-direction: column;
        z-index: 2;
    }
}


@media (max-width: 1345px) {

    /* index */
    .main__hola2 {
        display: flex;
        align-items: center;
        margin-left: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .main__hola {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /* .main .main__retrato {
    margin: 7%;
    height: 430px;
   
} */
    .footer {
        background-color: #B1A5F1;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer .footer__logo2 {
        height: 90px;
    }

    .footer__logo {
        margin: 0.5%;
    }

    .footer.footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .footer ul {
        list-style: none;
        margin: 0px;
    }

    .footer__footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    ol,
    ul {
        padding-left: 0px !important;
    }

    .footer__final .footer__finalmediosdepago {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer__mediosdepago1 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .footer__footer .footer__siguenos h5 {
        font-size: 1rem;
    }

    .footer__finalmediosdepago p {
        font-size: 0.7rem;
    }

    .footer__derechos small {
        font-size: 0.7rem;
    }
}